@if (!ready()) {
  <div class="cv-loading">Loading CV...</div>
} @else {
  <div class="cv-layout">
    <app-cv-editor-sidebar
      [activeSection]="activeSection()"
      (activeSectionChange)="activeSection.set($event)"
    />
    <app-cv-editor-form [activeSection]="activeSection()" />
    <app-cv-editor-preview-pane
      [cvId]="cvId"
      [saveSuccess]="saveSuccess()"
      (templateChange)="setTemplate($event)"
      (save)="saveCv()"
      (exportPdf)="exportPdf()"
      (logout)="logout()"
    />
  </div>
}
